.primary, .link, .text {
  cursor: pointer;

  display: inline-flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;




  border: none;
  border-radius: 16px;
  outline: none;

  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.primary {
  background-color: var(--color-orange);
  padding: 17px 24px 15px 24px;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
  color: var(--color-white);

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

}

.link {
  background-color: var(--color-blue);
  padding: 11px 26px;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-s);
  color: var(--color-white);
}

.text {
  background-color: transparent;
}


.fullWidth {
  width: 100%;
}
