.container {
  display: flex;
  align-items: center;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
}

.radio {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;

  &[data-state='checked'] {
    border: none;
    background-color: var(--color-orange);
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkIcon {
  fill: var(--color-white);

  &.checkIconDisabled {
    color: gray;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}